@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');


body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.App {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100vh;
}

.header {
  background: #1F2532;
  width: 290px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  width: 290px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.logo h1 {
  height: 52px;
  color: #F2AA02;
  font-family: 'Orbitron', sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: bolder;
  line-height: normal;
  letter-spacing: 1.5px; 
}

.brandname p {
  width: 290px;
  height: 37px;
  color: #7F8692;
  text-align: center;
  font-family: 'Orbitron', sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.6px;
}

.links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.linksvg {
  display: flex;
  flex-direction: row;
  width: 290px;
  height: 45px;
  align-items: center;
  padding-left: 130px;
}

.linksvg a {
  display: flex;
  text-decoration: none;
}

.linksvg img {
  display: flex;
  width: 24px;
  height: 24px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  mix-blend-mode: screen;
  margin-right: 15px;
}

.linksvg p {
  flex-shrink: 0;
  color: #CDD8E4;
  text-align: center;
  font-family: 'Orbitron', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.9px;
  margin: 0;
}

/* Home Page */

.homePage {
  background-color: #f3f4f7;
  height: 100%;
  width: 100vw;
  flex-grow: 1;
}
.pageHeader {
  height: 75px;
  display: flex;
  align-items: center;
  background-color: white;
  margin-bottom: 40px;
}

.pageTitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 50px;
}

.pageTitle img {
  display: flex;
  width: 24px;
  height: 24px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  /* mix-blend-mode: screen; */
  margin-right: 15px;
}

.pageTitle p {
  flex-shrink: 0;
  color: Black;
  text-align: center;
  font-family: 'Orbitron', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.9px;
  margin: 0;
}

/* Sales Chart */

.chart1 {
  width: 600px;
  height: 400px;
  background-color: white;
  margin-left: 40px;
}